.loginBody{
  position: relative;
 background-color :darkslategray;
 overflow: hidden;
 
}
.loginWrapper{
  margin-right: auto;
  float: right;
}

.loginForm{
 margin:0px;
 color:white;
 text-align: right;
 display: inline-flex;
 
}

.loginButton{
 padding: 5px;
}
.signUpButton{
 padding: 5px;
}
