
<div class = 'loginBody'>
  <div class= 'loginWrapper'>
  <div class= 'loginForm'>
      <a  (click) = "hideMe()" [routerLink] = "['/signUp']">
        <button class="signUpButton" (keydown.enter) = "doNothing()"> Sign Up </button>
        </a>
    <form #loginForm= "ngForm" (ngSubmit)="attemptLogin(username.value, password.value)">
    User Name: <input #username (keyup.enter)="attemptLogin(username.value, password.value)" name="username"
    [(ngModel)] ="credentials.username">
    Password: <input  #password (keyup.enter)="attemptLogin(username.value, password.value)" name="password"
    [(ngModel)] ="credentials.password" type="password">
  &nbsp;&nbsp;&nbsp;
  <button type = "submit" class ="loginButton" >&nbsp;Login&nbsp;</button>
    </form>
    </div>
  </div>
  </div>