<div class="aboutBody">
    <h2> you are currently viewing this on a dev server! </h2>
  <p>This a portfolio project still in development</p>
    <p> MochiJump is a personal project designed by Andrew Lenoir.</p>
    <p> It is broken into multiple parts </p>
    <p></p>
    <p> The game, MochiJump is a stand alone Desktop App that functions as a 2D 8 bit style platformer game. It is written in Java</p>
    <p> The web app, MochiJumpLevelEditor has a seperate front and back end</p> 
    <p> The web front end is an Angular web app to be hosted on Google Cloud's App Engine </p>
    <p>The backend is written in Java and uses the Spring Framework along with a MySQL server. <p>
    <p>The back end is further broken broken into microservices making use of both Google Cloud's Compute Engine as well as AWS</p>
    <p style= "padding-left: 30pt">	Check out the Desktop App source code
      <a href="https://github.com/AndoryuRenoa/MochiJump">here</a>
      </p>
    <p style= "padding-left: 30pt">Direct link to Download MochiJump Desktop App 
      <a href ="https://github.com/AndoryuRenoa/MochiJump/blob/master/dist/MochiJump.jar?raw=true">here</a>
      </p>
    <p style= "padding-left: 30pt">	Check out the Web App source code
      <a href="https://github.com/AndoryuRenoa/MochiJumpLevelEditor">here</a>
      </p>
  
  <a [routerLink]="['/']">
  <button> Go Back </button>
  </a>
  </div>