.loginBody{
    position: relative;
   margin:0px;
   background-color :darkslategray;
   overflow: hidden;
 }
 .loginForm{
   margin:0px;
   color:white;
   text-align: center;
 }
 .logoutButton{
   float: right;
 }